navbarbrand  {
  background-color: #2e2e3a;
  text-align: center;
  color: #bbb8b2;
  font-size: 60px;
  padding-right: 10px;
}


.container {
  background-color: #61dafb;
}

.content-container {
  display: flex;
  background-color: aquamarine;
}

.sidebar {
  margin-left: 1em;
  margin-right: 1em;
  }

.postlist-container {
  margin: auto;
  margin-top: 20px;
  background-color: brown;
  
  }




/* Profile container */
.profile {
  margin: 20px 0;
  width: 150px;
  }

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.profile-userpic {
margin: auto;
align-items: center;
}

.profile-userpic img {
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  float: none;
  margin-left: 2em
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
  flex-direction: column;
  text-align: center;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  text-align: center;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

